.container {
  box-shadow: 2px 0px 10px var(--color-gray);
  height: 100vh;
  padding: 25px 0;
}

.func-btn {
  height: 60px;
  width: 60px;
}

.func-icon {
  line-height: 60px !important;
  width: 60px;
  height: 60px;
  font-size: 50px;
}
