.container {
  height: 100vh;
  padding: 10px 38px;
}

.header-title {
  font-weight: bold;
  color: var(--color-black);
}

.collection-title {
  color: var(--color-orange);
  font-size: 20px;
  margin-top: 0px;
}

.blue {
  color: var(--color-blue);
}
