:host {
  --size: 240px;
}
.container {
  width: 100%;
  height: 570px;
  padding: 0px 35px;
  background-color: var(--color-pink);
}

.container-title {
  line-height: 100px;
  color: var(--color-black);
}

.work-title {
  font-size: 25px;
}

.time {
  line-height: 50px;
}

.circle-div {
  position: relative;
}

.circle-wrap {
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: var(--size);
  height: var(--size);
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, var(--size), var(--size), calc(var(--size) / 2));
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, calc(var(--size) / 2), var(--size), 0px);
  background-color: var(--color-pink-deep);
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  transform: rotate(180deg);
}

.circle-wrap .inside-circle {
  width: calc(var(--size) - 20px);
  height: calc(var(--size) - 20px);
  border-radius: 50%;
  background: #fff;
  line-height: calc(var(--size) - 20px);
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.goal-block {
  background-color: var(--color-pink-light);
  height: 94px;
  box-shadow: 2px 2px 2px var(--color-pink-deep);
}

.line-height-47 {
  line-height: 47px;
}
